* {
  box-sizing: border-box;
  font-family: Vazirmatn;
  direction: rtl;
  text-decoration: none;
}
body {
  width:1224px;
  height:auto;
  background-color:white;
  margin-right: 18%;
  margin-top: 0;
}
header {
  display: flex;
  background-color: rgb(224, 203, 224);
}
header a {
  color: rgb(97, 40, 97);
  text-decoration: none;
  padding: 15px 20px;
  font-size: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
  margin-top: 30px;
}
.rightbox {
  flex: 43%;
  background-color:rgb(225, 234, 243) ;

  
}
.colorfullbox {
  background-color: rgb(97, 40, 97);
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  
}
.underbox {
  display: flex;
  padding-right: 40px;
  padding-top: 100px;
  align-content: center;
}
.underbox a {
  flex: 30%;
  text-decoration: none;
}
.leftbox {
  display: flex;
  box-sizing: border-box;
  margin-left: 35%;
  padding-right: 2%;
  
  
}
.leftbox a {
  display: flex;
  width: 100px;
  padding: auto;
  margin: 10px;
  text-align: center;
  background-color: rgb(191, 243, 243);
}
.leftboxin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.news{
  background-color: rgb(224, 226, 228);
  padding: 2%;
  display: flex;
  text-align: right;
}
.newstext{
  padding: 10px ;
  flex: 25%;
}
.newslist{
flex: 25%;
}
.fakeimage{
  background-color: rgb(211, 208, 208);
}
.buisnesscardflex{
  display: flex;
  background-color: rgb(224, 226, 228);
}
.buisnesscard{
  padding: 10px;
  text-align: center;
  flex: 33%;
}
H4{
  text-align: center;
  margin-right: 2%;
}
.investbuisnesscardflex{
  padding-top: 90px;
  display: flex;
  height:220px;
}
.investbuisnesscard{
  padding: 20px;
  text-align: center;
  flex: 33%;
  justify-content: center;
  display: flex;
  
}
.fakeimageinvest{
  margin-right: 20px;
  background-color: rgb(211, 208, 208);
  
  border-right: 1px solid;
  
}
button{
  display: block;
  text-align: center;
  margin-top: 2%;
  margin-right: 44.5%;
  width: 150px;
  height: 40px;
  transition: width 1s , height 1s;
}
button:hover{
  width: 155px;
  height: 42px;
  background-color: rgb(236, 16, 16);
}
.socialmediaicon{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.fakeimagesocial{
  text-align: center;
  background-color: rgb(211, 208, 208);
  
  
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 30px;
}
footer{
  background-color:rgb(224, 226, 228);
  text-align: center;
  height: 250px;
  padding-top: 125px;
  
}